body{
    background-color: rgb(21, 18, 46);
}

header{
    background-color: black;
    
}

main{
    background-color: rgb(246, 246, 246);
    height: 500px;
    width: 500px;
}

h1{
    color: #ffffff;
}