@import "base.css";

#timeline-container{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    gap: 5px;
    width: 400px;
    overflow: auto;
    overflow-y: hidden;
}

.timeline::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -3px; /* 縦線の中央に配置するよう調整 */
    width: 10px; /* 丸の直径 */
    height: 10px; /* 丸の直径 */
    border-radius: 50%; /* 丸くする */
    background: #b3baaf; /* 丸の色 */
    z-index: 2; /* 縦線より前面に */
  }


.timeline{
    position: absolute;
    top: calc(50% - 1px);
    border: 2px solid #b3baaf;
    width: 385px;
    z-index: -1;
}


.timeline::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -3px; /* 縦線の中央に配置するよう調整 */
    width: 10px; /* 丸の直径 */
    height: 10px; /* 丸の直径 */
    border-radius: 50%; /* 丸くする */
    background: #b3baaf; /* 丸の色 */
    z-index: 2; /* 縦線より前面に */
  }
.square{
    width: 60px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  min-width: 60px;
} 
.square-select{
  border: 5px solid rgb(198, 235, 88);
} 



#menu {
    background-color: #6cd323;
    color: #ffffff;
    width: 100%;
    height: 60px;
  
    text-align: center;
    position: absolute;
    bottom: 0;
    
}

#menu button{
    width: 60px;
    height: 60px;
    background-color: #6cd323;
    border: none;
   
}

#menu img {
    width: 30px;
    height: 30px;
}

#inputColor{
    position: relative;
}

#save{
    width: 60px;
    height: 60px;
    color: #ffffff;
}

#menu button:hover{
    background-color: #64b42a;
    transition-duration: 0.2s;
}

#inputName{
   visibility: hidden;

}




.delete_square {
  position: relative; /* ツールチップの位置の基準に */
  cursor: pointer; /* カーソルを当てたときにポインターに */
}

.delete_sqr {
  width: 10px;
  height: 10px;
  opacity: 0; /* はじめは隠しておく */
  visibility: hidden; /* はじめは隠しておく */
  position: absolute; /* 絶対配置 */
  left: 100%; /* 親に対して中央配置 */
  transform: translateX(-50%); /* 親に対して中央配置 */
  bottom: 70%; /* 親要素下からの位置 */
  display: inline-block;
  padding: 5px; /* 余白 */
  white-space: nowrap; /* テキストを折り返さない */
  font-size: 0.8rem; /* フォントサイズ */
  background: #bb0c0c; /* 背景色 */
  color: #ffffff; /* 文字色 */
  border-radius: 100%; /* 角丸 */
  transition: 0.3s ease-in; /* アニメーション */
}



.delete_square:hover .delete_sqr{
  opacity: 1;
  visibility: visible;
}


.tooltip {
  position: relative; /* ツールチップの位置の基準に */
  cursor: pointer; /* カーソルを当てたときにポインターに */
}

.tooltip-text {
  opacity: 0; /* はじめは隠しておく */
  visibility: hidden; /* はじめは隠しておく */
  position: absolute; /* 絶対配置 */
  left: 50%; /* 親に対して中央配置 */
  transform: translateX(-50%); /* 親に対して中央配置 */
  top: -35px; /* 親要素下からの位置 */
  display: inline-block;
  padding: 5px; /* 余白 */
  white-space: nowrap; /* テキストを折り返さない */
  font-size: 0.8rem; /* フォントサイズ */
  line-height: 1.3; /* 行間 */
  background: #e9dbbf; /* 背景色 */
  color: #4f4f4f; /* 文字色 */
  border-radius: 3px; /* 角丸 */
  transition: 0.3s ease-in; /* アニメーション */
}

.tooltip-text:before {
	content: '';
	position: absolute;
	top: 25px;
	left: 50%;
	margin-left: -7px;
	border: 7px solid transparent;
	border-top: 7px solid #e9dbbf;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

input[type="color"] {
    width: 32px;
    height: 32px;
    padding: 0;
    display: inline-block;
    margin-right: 18px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }

input[type="color"]::-webkit-color-swatch,
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  padding: 0;
  border-radius: 50%;
}

#output{
  color: #ffffff;
}